<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @move.title %>
</p>

<p>
  <strong>Game:</strong>
  <%= @move.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @move.player_id %>
</p>

<p>
  <strong>X axis:</strong>
  <%= @move.x_axis %>
</p>

<p>
  <strong>Y axis:</strong>
  <%= @move.y_axis %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
