<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Player o:</strong>
  <%= @game.player_o_id %>
</p>

<p>
  <strong>Player x:</strong>
  <%= @game.player_x_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner_id %>
</p>

<p>
  <strong>Is tie game:</strong>
  <%= @game.is_tie_game %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
