<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @player.title %>
</p>

<p>
  <strong>Session string:</strong>
  <%= @player.session_string %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
